body{
    background-color: #2b3235;
}

.farhanLogo{
    width: 97px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    border-radius: 50%;


}

.farhanJudul{
    color: white;
    text-align: center;
    font-size: 21px;
    margin-bottom: 30px;
    font-family: eloquia text Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

button{
    background-color: white;
    border: solid;
    border-radius: 15px;
    color: black;
    padding: 18px 100px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    cursor: pointer;
    width: 45%
}

.farhanButton :hover{
    width: 46%;
    font-size: 17px;
}

.farhanButton a{
    text-decoration: none;
}

.farhanLinktreeIcon{
    width: 140px;
    color: white;
    -webkit-filter: invert(100%);
    display: block;
    margin-left: auto;
    margin-right: auto;
}
